@font-face {
    font-family: "ywsf";
    src: url(assets/font.ttf);
}

html,
body {
    position: relative;
    margin: 0 auto !important;
    padding: 0;
    width: 100%;
    max-width: 600px;
    font-size: 14px;
    font-family: "ywsf";
    color: #4a2707;
}

html {
    display: none;
}

p {
    margin: 0;
}

.slide {
    background-image: url(assets/bg.png);
    background-size: 100% 100%;
}

.cover {
    background-image: url(assets/bg_cover.jpg);
}

.map {
    background-image: url(assets/bg_map.png);
}

.intro {
    background-image: url(assets/bg_intro.png);
}

.intro .ptitle {
    margin: 44% 3% 0 0;
    width: 15%;
    float: right;
}

.intro p {
    margin-top: 40%;
    width: 1.3em;
    height: 0em;
    font-size: 1.5em;
    word-wrap: break-word;
    letter-spacing: 1em;
    float: right;
    overflow-y: hidden;
}

.intro p.author {
    margin-top: 55%;
    font-size: 1.2em;
}

.notice {
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
}

.slide .content {
    height: 100%;
    text-align: center;
    padding: 0 5%;
}

.slide .date {
    margin-top: 6%;
    padding-left: 8%;
    text-align: left;
    font-size: 1.4em;
}

.slide .title {
    margin-top: 4%;
    height: 9%;
}

.slide .pic {
    width: 100%;
}

.slide article {
    margin-top: 4%;
    height: 0%;
    /*25%*/
    overflow-y: hidden;
}

.slide article p {
    text-align: justify;
    text-indent: 2em;
    font-size: 1.3em;
}

.map iframe {
    display: block;
    margin: 15% auto;
    border: 0;
}

.map .touchpad {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
}


/*
path {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 10s linear;
    animation-fill-mode: forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 4000;
    }
}
*/

.ps-scrollbar-y-rail {
    position: absolute;
}